.App {
  text-align: center;
  position: relative;
}

h1,
h2 {
  margin-bottom: 8px;
}

ul,
li {
  list-style: none;
}

.location-tbl-data {
  max-width: 500px;
  margin: auto;
}

.location-tbl-data ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #f7f7f7;
}

.location-tbl-data li {
  padding: 8px;
}

input[type="text"] {
  background: #f7f7f7;
  padding: 12px 18px;
  height: 20px;
  border: none;
  border-radius: 100px;
  min-width: 300px;
  font-size: 16px;
}

input:focus {
  border: none;
  outline: none;
}

.suggestion-wrap {
  color: #fff;
}

ul.tbl-continent-data > li {
  background: #000;
}

.tbl-country-data > li {
  background: #2c2a2a;
}

.location-data-tbl {
  margin-top: 60px;
}

.suggestion-wrap {
  background: #a4a4a4;
  width: 300px;
  margin: auto;
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
}

.suggestion-wrap li {
  padding: 12px;
  color: #000;
  border-bottom: 1px solid #757474;
  cursor: pointer;
}

.suggestion-wrap li:hover {
  background: #afaeae;
}

.suggestion-wrap li:active {
  background: #c2c0c0;
}

section.user-input-form {
  display: grid;
  justify-content: center;
  position: relative;
}
